Dataset/PropertiesDefinition/VMWareVMNodeType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/jacopogiallo/tosca-mart-repo/NodeTypes/propertiesdefinition/winery" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="Properties">
        <complexType>
            <sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <element name="DiskSize" type="xsd:decimal"/>
                <element name="IPAddress" type="xsd:string"/>
                <element name="MemorySize" type="xsd:decimal"/>
                <element name="NumberOfCPUs" type="xsd:decimal"/>
                <element name="Region" type="xsd:string"/>
                <element name="User" type="xsd:string"/>
            </sequence>
        </complexType>
    </element>
</schema>